
.btn-primary:focus {
  box-shadow: 0 0 0 0;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
}

.btn-primary:hover {
  color: #fff;
  background-color: #57637c;
  border-color: #57637c;
}


.btn-primary {
  background-color: #667491;
  border-color: #667491;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #293142;
  border-color: #293142;
}

input{
  padding-top: 5px !important;
}

/*#zapiszK:disabled{
  cursor: not-allowed;
}
*/


.row.inp{
  margin-left: 10px;
  margin-right: 10px;
}

.btn-outline-secondary:hover{
  background-color: #45526e;
  border-color: #45526e;
}



/*.input-field { display: table;}



.inp_n{
  font-family: Roboto,sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  padding: 0;
  font-size: 1rem;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

.input-field input[type=text], .input-field select {
  font-family: Roboto,sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 1.5rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 5px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
  display: table-row-group;
}

.input-field textarea{
  font-family: Roboto,sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  width: 100%;

}

.input-field label{
  color:#999;
  font-family: Roboto,sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
  display: table-header-group;
}

.dw{
  color:#999;
  font-family: Roboto,sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
}

.input-group input[type=text]:focus {border-bottom:1px solid #000;box-shadow:0 1px 0 0 #000;}


.input-field select:focus + label{color:#000;}
.input-field select:focus {border-bottom:1px solid #000;box-shadow:0 1px 0 0 #000;}
.input-field textarea:focus {border-bottom:1px solid #000;box-shadow:0 1px 0 0 #000;}

.input-field input[type=text]:focus + label{color:#000}
.input-field input[type=text]:focus {border-bottom:1px solid #000;box-shadow:0 1px 0 0 #000;}
label.ok{color: #2196F3 !important;}
.input-field input[type=text].ok{border-bottom:1px solid #2196F3;box-shadow:0 1px 0 0 #2196F3;}
label.error{color: #F44336 !important;}
.input-field input[type=text].error{border-bottom:1px solid #F44336;box-shadow:0 1px 0 0 #F44336;}
.input-field .prefix.active{color:#000;}

.card-header{
  color: white;
  background-color: #293142 !important;
}

.small-ch{
  font-family: Roboto,sans-serif;
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #57637c !important;
}

.card{
  border: 1px solid #212529 !important;
  background-color: #ecedf0;
}

.small-c{
  background-color: white; /* #ecedf0 !important;*/
/*}


.row.inp{
  margin-left: 10px;
  margin-right: 10px;
}

.btn-outline-secondary:hover{
  background-color: #45526e;
  border-color: #45526e;
}

*/
